.header {
  height: 100vh;
  position: relative;
  background-color: gainsboro;
  color: var(--mainColor);

  &__wrapper {
    position: absolute;
    z-index: 9;
    top: 50px;
    right: 70px;
    bottom: 80px;
    left: 70px;
    pointer-events: none;

    @media (max-width: 1200px) {
      top: 40px;
      right: 40px;
      bottom: 60px;
      left: 40px;
    }

    @media (max-width: 767px) {
      top: 30px;
      right: 5%;
      bottom: 30px;
      left: 5%;
    }
  }
}