.header {
  height: 100vh;
  position: relative;
  background-color: gainsboro;
  color: var(--mainColor);

  background-image: url('../../assets/slideBg/01.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    position: absolute;
    z-index: 9;
    top: 50px;
    right: 70px;
    bottom: 80px;
    left: 70px;
    pointer-events: none;

    // Убрать
    background-color: rgba(100, 100, 100, 0.2);

    @media (max-width: 1200px) {
      top: 40px;
      right: 40px;
      bottom: 60px;
      left: 40px;
    }

    @media (max-width: 767px) {
      top: 30px;
      right: 5%;
      bottom: 30px;
      left: 5%;
    }
  }
}