.scrollBar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: all;

  width: 326px;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.30);

  transform: rotate(90deg) translate(50%, 0%);
  transform-origin: right top;

  @media (max-width: 767px) {
    transform: unset;
    right: unset;
    top: unset;
    left: 0;
    bottom: -10px;
    width: 100%;
  }

  div {
    background-color: var(--mainColor);
    border-radius: 3px 3px 0px 0px;
  }
}