.controlsBar {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: all;
  display: grid;
  gap: 15px;

  @media (max-width: 767px) {
    display: none;
  }

  &__arrows {
    display: flex;
    gap: 6px;

    button {
      width: 44px;
      height: 44px;
      background-color: transparent;

      &:hover {
        opacity: 0.5;
      }
    }

    button:nth-child(1) {
      background-image: url('../../../assets/controls/arrowLeft.svg');
    }

    button:nth-child(2) {
      background-image: url('../../../assets/controls/arrowRight.svg');
    }
  }

  &__numbers {
    display: flex;
    gap: 6px;
    align-items: flex-end;
    justify-content: flex-end;

    color: rgb(255, 255, 255, 0.3) !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;

    span:nth-child(1) {
      color: var(--mainColor);
      font-size: 32px;
      font-weight: 600;
      line-height: 1.2;
    }
  }
}